<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4><%= place["name"] %></h4>
      <p><%= post["title"] %></p>
      <p><%= post["posted_at"] %></p>
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

<p><a href="/posts/new">New Post</a></p