<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4><%= post["title"] %></h4>
      <p><%= post["posted_on"] %></p>
    </div>
  <% end %>
</div>

<p><a href="/posts/new">New Post</a></p




