<h1>Places I've Been</h1>

<ul>
  <% for place in @places %>
    <li> 
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<p><a href="/places/Mexico City">Mexico City</a></p
<p><a href="/places/Charleston">Charleston City</a></p
<p><a href="/places/Beijing">Beijing</a></p
<p><a href="/places/Amsterdam">Amsterdam</a></p

<p><a href="/places/new">New Place</a></p